<top-nav></top-nav>

<br>
<section class="container">
    <!-- Call to Action Section -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row db-row">
                <div class="col-md-3 db-col">
                    <h2 class="db-del-margin">Search for a track</h2>
                </div>
                <div class="col-md-9 db-col">
                    <form class="input-group" ng-submit="tc.getTracks()">
                        <input type="text" class="form-control" ng-model="tc.trackName"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <!-- Call to Action Section -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row db-row">
                <div class="col-md-2 db-col">
                    <h2 class="db-del-margin">Selected</h2>
                </div>
                <div class="col-md-6 db-col">
                    <input type="text" class="form-control" ng-model="tc.trackTitle"/>
                </div>
                <div class="col-md-2 db-col">
                    <button class="db-btn db-del-margin">Save</button>
                </div>
                <div class="col-md-2 db-col">
                    <button class="db-btn db-del-margin">Return</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container" ng-if="tc.tracks">
    <div class="well" ng-repeat="track in tc.tracks" ng-click="tc.selectTrack(track)">
        <div class="row">
            <div class="col-md-12">
                <h3><a href="">{{ track.title }}</a></h3>
                <img ng-src="{{ track.artwork_url }}">
                <audio-track ng-if="track.streamable"
                    mp3="{{ track.stream_url + tc.client_id }}">
                    <div progress-slider></div>
                </audio-track>
            </div>
        </div>
    </div>
</section>

<generic-footer></generic-footer>
